main form {
  @include flexbox(column, wrap, center, center);
  @include contenedortexto(none, black, 10px, 0px, 1rem, $pacifico, none, 0px);
  text-align: center;

  h2 {
    font-size: 2rem;

    @include media(480px) {
      font-size: 1.5rem;
    }

    @include media(320px) {
      font-size: 1rem;
    }
  }

  #fieldset1 {
    @include contenedor(10px, $border, $fondogold, 10px, 10px, 800px);

    @include media(768px) {
      width: 700px;
    }

    @include media(480px) {
      width: 500px;
    }

    @include media(320px) {
      width: 300px;
    }
  }

  #fieldset2 {
    @include contenedor(10px, $border, $fondogold, 10px, 10px, 800px);

    @include media(768px) {
      width: 700px;
    }

    @include media(480px) {
      width: 500px;
    }

    @include media(320px) {
      width: 300px;
    }
  }

  #fieldset3 {
    @include contenedor(10px, $border, $fondogold, 10px, 10px, 800px);

    @include media(768px) {
      width: 700px;
    }

    @include media(480px) {
      width: 500px;
    }

    @include media(320px) {
      width: 300px;
    }
  }

  .boton {
    border: 4px solid white;
    background-color: $fondogold;
    padding: 5px;
  }
}