#mainindex {
    @include flexbox(row, nowrap, center, center);

    @include media(1024px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #sectionindex1 {
        flex-basis: 70%;
        @include flexbox(row, nowrap, center, center);

        p {
            @include contenedortexto($fondogold, black, 10px, 10px, 1.5rem, $fira, $border, 10px);
            text-align: center;

            @include media(1024px) {
                width: 700px;
            }

            @include media(768px) {
                width: 500px;
            }

            @include media(600px) {
                font-size: 1rem;
            }

            @include media(480px) {
                width: 350px;
            }

            @include media(320px) {
                width: 200px;
                margin: 5px;
                padding: 5px;
                font-size: 0.7rem;
            }
        }
    }

    #sectionindex2 {
        flex-basis: 30%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "imgin1 imgin3"
            "imgin2 imgin4";
        justify-items: center;
        align-items: center;

        #imgin1 {
            grid-area: imgin1;
        }

        #imgin2 {
            grid-area: imgin2;
        }

        #imgin3 {
            grid-area: imgin3;
        }

        #imgin4 {
            grid-area: imgin4;
        }

        img {
            @include contenedorimg($fondogold, 270px, 270px, $border, 10px, 5px, 10px);

            @include media(1024px) {
                width: 200px;
                height: 200px;
            }

            @include media(768px) {
                width: 150px;
                height: 150px;
            }

            @include media(480px) {
                width: 120px;
                height: 120px;
            }

            @include media(320px) {
                width: 80px;
                height: 80px;
                padding: 5px;
            }
        }
    }
}