#mainnosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include media(1024px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #sectionnos1 {
    @include flexbox(column, nowrap, space-evenly, center);
    flex-basis: 50%;
    margin: 10px;
    text-align: center;

    div {
      @include media(1024px) {
        width: 800px;
      }

      @include media(768px) {
        width: 600px;
      }

      @include media(600px) {
        width: 400px;
      }

      @include media(480px) {
        width: 300px;
      }

      @include media(320px) {
        width: 200px;
      }

      p {
        @include contenedortexto($fondogold, black, 5px, 10px, 1.5rem, $fira, $border, 10px);

        @include media(1200px) {
          font-size: 1.3rem;
        }

        @include media(480px) {
          font-size: 1rem;
        }
      }
    }
  }

  #sectionnos2 {
    @include flexbox(row, nowrap, center, center);
    flex-basis: 50%;

    img {
      @include contenedorimg($fondogold, 500px, 500px, $border, 10px, 0px, 10px);

      @include media(1200px) {
        width: 400px;
        height: 400px;
      }

      @include media(480px) {
        width: 300px;
        height: 300px;
      }

      @include media(320px) {
        width: 200px;
        height: 200px;
      }
    }
  }
}