main {
  #sectionpromo1 {
    @include flexbox(row, nowrap, center, center);

    h2 {
      @include contenedortexto($fondogold, black, 0px, 10px, 2rem, $pacifico, $border, 10px);
      margin-bottom: 10px;
      margin-top: 10px;
      animation-timing-function: linear;
      animation: backInDown;
      animation-duration: 1.5s;

      @include media(600px) {
        font-size: 1rem;
      }

      @include media(320px) {
        font-size: 0.8rem;
      }

      &:hover {
        background-color: brown;
        border-radius: 10px;
        color: white;
      }
    }

  }

  #sectionpromo2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "imgpromo1 imgpromo3 imgpromo5"
      "imgpromo2 imgpromo4 imgpromo6";
    justify-items: center;
    align-items: center;

    @include media(480px) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "imgpromo1 imgpromo3"
        "imgpromo5 imgpromo6"
        "imgpromo2 imgpromo4";
    }

    @include media(320px) {
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "imgpromo1"
        "imgpromo3"
        "imgpromo5"
        "imgpromo6"
        "imgpromo2"
        "imgpromo4";
      }
    
    img {
      @include contenedorimg($fondogold, 270px, 270px, $border, 10px, 10px, 10px);

      &:hover {
        background-color: brown;
      }

      animation-timing-function: linear;
      animation:backInLeft;
      animation-duration: 1.5s;

      @include media(768px) {
        width: 200px;
        height: 200px;
      }

      @include media(600px) {
        width: 150px;
        height: 150px;
      }

      @include media(320px) {
        width: 100px;
        height: 100px;
        margin: 5px;
        padding: 5px;
      }
    }

    h3 {
      @include contenedortexto($fondogold, black, 0px, 0px, 2.5rem, $pacifico, $border, 10px);

      &:hover {
        background-color: brown;
        color: white;
      }

      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      animation-timing-function: linear;
      animation: backInRight;
      animation-duration: 1.5s;

      @include media(600px) {
        font-size: 1.5rem;
      }

      @include media(320px) {
        font-size: 1rem;
      }
    }

    h3::before {
      content: "$ "
    }

    h3::after {
      content: ",00"
    }

    #imgpromo1 {
      grid-area: imgpromo1;
    }

    #imgpromo2 {
      grid-area: imgpromo2;
    }

    #imgpromo3 {
      grid-area: imgpromo3;
    }

    #imgpromo4 {
      grid-area: imgpromo4;
    }

    #imgpromo5 {
      grid-area: imgpromo5;
    }

    #imgpromo6 {
      grid-area: imgpromo6;
    }
  }
}