#mainproductos {
  @include flexbox(row, nowrap, center, center);

  @include media(991.98px) {
    flex-direction: column;
  }

  #sectionproductimg1 {
    @include flexbox(column, wrap, center, center);
    flex-basis: 20%;

    div {
      @include flexbox(column, wrap, center, center);
      animation-timing-function: linear;
      animation: backInLeft;
      animation-duration: 1.3s;

      img {
        @include contenedorimg($fondogold, 200px, 200px, $border, 10px, 10px, 5px);

        @include media(1200px) {
          width: 160px;
          height: 160px;
        }

        @include media(991.98px) {
          width: 160px;
          height: 160px;
        }
      }
    }
  }

  #sectionproduc1 {
    @include flexbox(row, nowrap, center, center);

    @include media(1024px) {
      flex-wrap: wrap;
    }

    flex-basis: 20%;
    margin: 10px;

    nav {
      #menuproduct1 {
        border: $border;
        border-radius: 10px;
        background-color: $fondoblack;
        display: flex;
        flex-direction: column;
        padding: 10px;

        li {
          @include contenedortexto($fondogold, black, 10px, 0px, 1.5rem, $pacifico, $border, 10px);
          @include reseto-lista;
          text-align: center;

          &:hover {
            background-color: brown;
          }

          a {
            text-decoration: none;
            color: $fondoblack;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }

  #sectionproductimg {
    @include flexbox(column, wrap, center, center);
    flex-basis: 20%;

    div {
      @include flexbox(column, wrap, center, center);
      animation-timing-function: linear;
      animation: backInUp;
      animation-duration: 1.3s;

      img {
        @include contenedorimg($fondogold, 200px, 200px, $border, 10px, 10px, 5px);

        @include media(1200px) {
          width: 160px;
          height: 160px;
        }

        @include media(991.98px) {
          width: 160px;
          height: 160px;
        }
      }
    }
  }

  #sectionproduc2 {
    @include flexbox(row, nowrap, center, center);

    @include media(1024px) {
      flex-wrap: wrap;
    }

    flex-basis: 20%;

    nav {
      #menuproduct2 {
        border: $border;
        border-radius: 10px;
        background-color: $fondoblack;
        display: flex;
        flex-direction: column;
        padding: 10px;

        li {
          @include contenedortexto($fondogold, black, 10px, 0px, 1.5rem, $pacifico, $border, 10px);
          @include reseto-lista;
          text-align: center;

          &:hover {
            background-color: brown;
          }

          a {
            text-decoration: none;
            color: $fondoblack;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }

  #sectionproductimg3 {
    @include flexbox(column, wrap, center, center);
    flex-basis: 20%;

    div {
      @include flexbox(column, wrap, center, center);
      animation-timing-function: linear;
      animation: backInRight;
      animation-duration: 1.3s;

      img {
        @include contenedorimg($fondogold, 200px, 200px, $border, 10px, 10px, 5px);

        @include media(1200px) {
          width: 160px;
          height: 160px;
        }

        @include media(991.98px) {
          width: 160px;
          height: 160px;
        }
      }
    }
  }
}