@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

$fira:'Fira Sans', sans-serif;
$pacifico: pacifico;
$fondogold: gold;
$fondoblack: black;
$border: solid 4px white;